<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">订购列表</h3>
                <form class="form-horizontal">
                    <label for="select3"  class="col-sm-2 control-label">订购状态：</label>
                    <div class="form-group col-sm-4 ">
                        <select  id="select3" class="form-control" name="b.Active">
                            <option>请选择状态</option>
                            <option value="0">未订购</option>
                            <option value="1">已订购</option>
                            <option value="2">不订购</option>
                        </select>
                    </div>
                    {{#compare @koa.passport.user.Role '==' 'admin'}}
                    <label for="UserName" class="col-sm-2 control-label">选择公司: </label>
                    <div class="form-group col-sm-4 ">
                        <div class="input-group">
                            <input type="text" class="form-control" id="UserName"  placeholder="选择公司">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                            </div>
                        </div>
                    </div>
                    {{/compare}}

                    <label class="col-sm-2 control-label"></label>
                    <div class="form-group  col-sm-4 ">
                        <button type="submit" class="btn btn-primary"><i class="fa   fa-search "></i> 查询</button>
                    </div>
                </form>
            </div>
            <div class='box-body'>
                <table id="data" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>订购客户</th>
                        <th>订购车牌</th>
                        <th>订购商品</th>
                        <th>数量</th>
                        <th>状态</th>
                        <th>订购时间</th>
                    </tr>
                    </thead>
                </table>
                {{#compare @koa.passport.user.Role '==' 'admin'}}
                   <button type="button" id="deleteData" class="btn  btn-danger"><i class="fa fa-minus "></i> 删除订购</button>
                   <button type="button" id="isPlan" class="btn  btn-success"><i class="fa   fa-check "></i > 已订购</button>
                   <button type="button" id="NotPlan" class="btn  btn-info"><i class="fa  fa-close  "></i> 不订购</button>
                {{/compare}}
            </div>
            <div class='overlay tableLoading'><i class='fa fa-refresh fa-spin'></i></div>
        </div>
    </div>
</div>
<script>
    $(function () {
     var isAdmin {{#compare @koa.passport.user.Role '==' 'admin'}} = true {{/compare}};

     var Instance = $.fn.DataTables({
            target: "#data",
            url: "ajaxQuery",
            hiddenCheckbox:!isAdmin,
            renderCallback:function(items){
                $("#sumAmount").text("总计:" +items.data.sumAmount + "元")
            },
            columns: [
                {"data": "BookId"},
                {"data": "MemberName"},
                {"data": "Code"},
                {"data": "InventoryName"},
                {"data": "Num"},
                {"data": "Active"},
                {"data": "CreateDate"}
            ], params: function () {
                var obj = new Object();
                $.each($('form').serializeArray(), function (index, param) {
                    if (!(param.name in obj)) {
                        if ('请选择状态' != param.value) {
                            obj[param.name] = param.value;
                        }
                    }
                });
                obj.size = 10;
                obj.cur = 1
                return obj;
            }
        })

     {{#compare @koa.passport.user.Role '==' 'admin'}}
        $("#isPlan").click(function (e) {
            var jdatatables = Instance['dataTable']
            var data = $(".DeleteDatas").filter(":checked");
            if (data.length <= 0) return;
            if (confirm("确定已订购了吗？")) {
                var params = {};
                for (var i = 0; i < data.length; i++) {
                    params['o_' + i] = $(data[i]).val();
                }
                $(".tableLoading").show();
                $.ajax({
                    type: "POST",
                    url: 'in',
                    data: params,
                    dataType: 'json'
                }).success(function (items) {
                    var data = items.data
                    if (data && data.op && data.op.status == false) {
                        alert(data.op.status.msg || "操作报错");
                        $(".tableLoading").hide();
                    } else {
                        jdatatables.ajax.reload();
                        alert("操作成功");
                    }
                }).fail(function () {
                    jdatatables.ajax.reload();
                    alert("操作报错")
                })
            }
        });

        $("#NotPlan").click(function (e) {
            var jdatatables = Instance['dataTable']
            var data = $(".DeleteDatas").filter(":checked");
            if (data.length <= 0) return;
            if (confirm("确定不订购了吗？")) {
                var params = {};
                for (var i = 0; i < data.length; i++) {
                    params['o_' + i] = $(data[i]).val();
                }
                $(".tableLoading").show();
                $.ajax({
                    type: "POST",
                    url: '!in',
                    data: params,
                    dataType: 'json'
                }).success(function (items) {
                    var data = items.data
                    if (data && data.op && data.op.status == false) {
                        alert(data.op.status.msg || "操作报错");
                        $(".tableLoading").hide();
                    } else {
                        jdatatables.ajax.reload();
                        alert("操作成功");
                    }
                }).fail(function () {
                    jdatatables.ajax.reload();
                    alert("操作报错")
                })
            }
        });

        $("#UserName").bsSuggest({
            url: "{{ctx}}/admin/userSuggest?name=",
            showBtn: true,
            idField: "UserId",
            keyField: "Name",
            allowNoKeyword: true,
            getDataMethod: "url",
            effectiveFields: ["Name"],
            processData: function (res){return {value:res}},
            showHeader: true,
            effectiveFieldsAlias: {Name: ' 公司名称'}
        }).on('onSetSelectValue', function (e, data) {
            $("#UserName").next('input[type="hidden"]').remove()
            $("#UserName").after('<input type="hidden" name="b.UserId" value="' + data.id + '"/>')
        }).on('onUnsetSelectValue', function (e) {
            $("#UserName").val('')
            $("#UserName").next('input[type="hidden"]').remove()
        })

      {{/compare}}


    });
</script>
