<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">审核客户操作</h3>
            </div>
            <form role="form" method="post" class="form-horizontal"  action="{{ctx}}/admin/memberAudit">
                <input type="hidden" value="{{data.MemberId}}" name="MemberId">
                <div class="box-body ">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-4"> {{data.Name}}</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">车牌：</label>
                            <div class="col-sm-4"> {{data.Code}}</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">身份证照片：</label>
                            <div class="col-sm-8">
                                <a href="{{static}}/img/bg.jpg">
                                    <img class="img-responsive" src="{{static}}/img/bg.jpg" alt="Photo">
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">行驶证照片：</label>
                            <div class="col-sm-8">
                                <a href="{{static}}/img/bg.jpg">
                                    <img class="img-responsive" src="{{static}}/img/bg.jpg" alt="Photo">
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">保单照片：</label>
                            <div class="col-sm-8"><a href="{{static}}/img/bg.jpg">
                                <img class="img-responsive" src="{{static}}/img/bg.jpg" alt="Photo"></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">账号资金：</label>
                            <div class="col-sm-8"><h3 style="color: red">{{data.Amount}} 元</h3></div>
                        </div>
                        {{#compare @koa.passport.user.Role '==' 'admin'}}
                        <div class="form-group">
                            <label for="select3" class="col-sm-3 control-label">客户状态：</label>
                            <select id="select3" class="col-sm-3 form-control" name="Active" style="width: 30%;">
                                <option value="0" {{#compare data.Active '==' '0'}} selected="selected" {{/compare}} >未审核</option>
                                <option value="1" {{#compare data.Active '==' '1'}} selected="selected" {{/compare}}>审核通过</option>
                                <option value="2" {{#compare data.Active '==' '2'}} selected="selected" {{/compare}}>审核未通过</option>
                            </select>
                        </div>
                        {{else}}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">客户状态：</label>
                            {{#compare data.Active '==' '0'}}
                            <div class="col-sm-4"> 未审核</div>
                            {{/compare}}
                            {{#compare data.Active '==' '1'}}
                            <div class="col-sm-4"> 已审核</div>
                            {{/compare}}
                            {{#compare data.Active '==' '2'}}
                            <div class="col-sm-4"> 审核未通过</div>
                            {{/compare}}
                        </div>
                        {{/compare}}
                    </div>
                </div>
                <div class="box-footer">
                    {{#compare @koa.passport.user.Role '==' 'admin'}}
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">确认审核</button>
                    </div>
                    {{/compare}}
                </div>
            </form>
        </div>
    </div>
</div>
