<div class="row">
 <div class="col-md-12">
   <div class="box box-primary">
       <div class="box-header with-border">
         <h3 class="box-title">库存列表</h3>
       </div>
       <div class='box-body'>
         <table id="data" class="table table-bordered table-striped">
               <thead>
               <tr>
                 <th>ID</th>
                 <th>物品名称</th>
                 <th>数量</th>
                 <th>单价</th>
                 <th>总价</th>
                 <th>入库时间</th>
                 <th>最近一次变更时时间</th>
                 <th>操作</th>
               </tr>
               </thead>
               <tbody>
              {{#data}}
               <tr id="{{InventoryId}}">
                 <td>{{InventoryId}}</td>
                 <td>{{Name}}</td>
                 <td>{{Num}}</td>
                 <td>{{Price}} 元</td>
                 <td> {{X Num Price }} 元</td>
                 <td> {{formatterDate CreateDate}}</td>
                 <td> {{formatterDate LastUpdateDate}}</td>
                 <td>
                   <button type="button" class="btn btn-danger btn-sm delete">删除</button>
                   <a href="{{ctx}}/inventory/{{InventoryId}}/edit">
                     <button type="button" class="btn btn-primary btn-sm">编辑</button>
                   </a>
                   <a href="{{ctx}}/inventory/log?InventoryId={{InventoryId}}">
                     <button type="button" class="btn btn-success btn-sm">出库日志</button>
                   </a>
                 </td>
               </tr>
              {{/data}}
               </tbody>
               <tfoot>
               <tr>
                 <th colspan="8" style="text-align: right;color:red">总价:{{sum}} 元</th>
               </tr>
               </tfoot>
             </table>
       </div>
   </div>
 </div>
</div>

<script>
  $(function () {
    $(".delete").click(function () {
       if(confirm("确定删除吗?")){
          var id = $(this).parent("td").parent("tr").attr("id");
          window.location.href='{{ctx}}/inventory/'+id+'/delete'
       }
    })
    $('#data').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "language": {
               sEmptyTable:     "<b>符合条件的数据为空</b>",
               sInfo:           "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
               sInfoEmpty:      "显示第 0 至 0 项结果，共 0 项",
               sInfoFiltered:   "(filtered from _MAX_ total entries)",
               sInfoThousands:  ",",
               sLengthMenu:     "显示 _MENU_ 项",
               sLoadingRecords: "数据加载中，请稍后...",
               sProcessing:     "加载中...",
               sSearch:         "搜索:",
               sZeroRecords:    "未找到匹配的元素",
               errMode:function( settings, tn, msg) {
                  console.log(msg)
               },
               oPaginate: {
                   sFirst:      "首页",
                   sLast:       "尾页",
                   sNext:       "下页",
                   sPrevious:   "上页"
              },
              oAria: {
                sSortAscending:  ": 以升序排列此列",
                sSortDescending: ": 以降序排列此列"
              }
           }
    });
  });
</script>
