<div class="row">
 <div class="col-md-12">
   <div class="box box-primary">
       <div class="box-header with-border">
         <h3 class="box-title">库存日志</h3>
       </div>
       <div class='box-body'>
         <table id="data" class="table table-bordered table-striped">
               <thead>
               <tr>
                 <th>物品名称</th>
                 <th>出库数量</th>
                 <th>出库单价</th>
                 <th>客户名</th>
                 <th>客户车牌</th>
                 <th>出库日期</th>
                 <th>操作人</th>
               </tr>
               </thead>
               <tbody>
              {{#data}}
                 <tr>
                   <td>{{Name}}</td>
                   <td>{{Num}}</td>
                   <td>{{Price}} 元</td>
                   <td>{{MemberName}}</td>
                   <td>{{Code}}</td>
                   <td>{{formatterDate CreateDate}}</td>
                    <td>{{Operator}}</td>
                 </tr>
              {{/data}}
               </tbody>
             </table>
       </div>
   </div>
 </div>
</div>

<script>
  $(function () {
    $('#data').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "language": {
               sEmptyTable:     "<b>符合条件的数据为空</b>",
               sInfo:           "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
               sInfoEmpty:      "显示第 0 至 0 项结果，共 0 项",
               sInfoFiltered:   "(filtered from _MAX_ total entries)",
               sInfoThousands:  ",",
               sLengthMenu:     "显示 _MENU_ 项",
               sLoadingRecords: "数据加载中，请稍后...",
               sProcessing:     "加载中...",
               sSearch:         "搜索:",
               sZeroRecords:    "未找到匹配的元素",
               errMode:function( settings, tn, msg) {
                  console.log(msg)
               },
               oPaginate: {
                   sFirst:      "首页",
                   sLast:       "尾页",
                   sNext:       "下页",
                   sPrevious:   "上页"
              },
              oAria: {
                sSortAscending:  ": 以升序排列此列",
                sSortDescending: ": 以降序排列此列"
              }
           }
    });
  });
</script>
